/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/*==============================
	MY STYLES
==============================*/
body {
background: #f8f8f8;
font-family: arial;
font-size: 15px;
line-height: 28px;
margin: 0;
}

#header {
width: 960px;
height: 605px;
margin-top: 0px;
margin-left: -20px;
background:#fff;
text-align:center;
background-size:cover;	
position:relative;
}

.mchammer #header {
  background-image: url(images/hammer_cover.png);
}

.phil #header {
  background-image: url(images/phil_cover.png);
}

.loree #header {
  background-image: url(images/loree_cover.jpg);
}

.philblack #header {
  background-image: url(images/philblack_cover.png);
}

.default #header {
  background-image: url(images/phil_cover.png);
}

.xxx-unknown #header {
  background-image: url(images/unknown_author.jpg);
width: 1020px;
height: 643px;
margin-top: 0px;
margin-left: -20px;
text-align:center;	
}

.header-title {
padding-top: 40px;
color: #fff;
font: 700 12px/24px "open sans";
font-size: 48px;
}

#location-and-time {
position:absolute;
right:19px;
bottom:17px;
color: #fff;
font: 700 12px/24px "open sans";
font-size: 24px;
font-weight:100;
text-align:left;
}

#location-and-time .location{
  position:absolute;
  right:80px;
  bottom:0;
  width:200px;
}

#location-and-time .time{
  position:absolute;
  right:0;
  bottom:0;
  width:110px;
}



#location-and-time > p {
  display:table-cell;
  margin-left:20px;
}

#location-and-time .label {
  font-size:14px;
  margin-top:12px;
}

#location-and-time .label:first-letter {
    text-transform: uppercase;
}

#content {
width: 920px;
margin: 0 auto;
display:none;
}

.box-title {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
overflow:hidden;
}

.box {
color: #212121;
padding: 12px;
float: left;
margin-left: 10px;
margin-right: 10px;
width: 250px;
background: #ffffff;
border: 1px solid #eee;
margin-bottom: 20px;
}

.box img {
  max-width:250px;
}

.attribution {
color: #bbb;
}

.tweet {
font-family: Georgia;
font-size: 21px;
}

#nav {
  padding:6px 0;
  margin:0 auto;
  width:960px;
}

#nav li {
  display:inline-block;
  padding:2px;
  margin-right:15px;
}

#nav a {
text-decoration: none;
font-size: 15px;
line-height: 25px;
color: #595959;
}

#nav a:hover {
color: #393939;
}

#nav a:active {
color: #151515;
}

#loading {
  padding:50px;
  text-align:center;
}


















